
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} */

.NikonWrapAcess{
    width: 100vw !important;
    height: 100vh !important;
    position:relative;
    top:0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.NikonWrapAcess::-webkit-scrollbar{
    display: none;
}
.CameraImg{
    width:40vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    /* position:fixed; */
    gap:0px;
    margin-left: 30vw;
    overflow-x: visible;
    top:0px;
    position: absolute;
    /* background-color: red; */
}

.CameraImg::-webkit-scrollbar{
    display: none;
}
.lensportion{
    flex-shrink: 0;
    width: 87%;
    height:50vh;
    position: relative;
    overflow-x: visible;
    margin-left: 6%;
}
.lensportion>img{
    width: 110%;
    height: 100%;
    object-fit:fill;
    scale:1;
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
.CameraBodyPortion{
    flex-shrink: 0;
    width: 100%;
    height:35vh;
    position: relative;
    overflow-x: visible;
}
.CameraBodyPortion>img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.box{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
   background-size: contain;
   /* background-color: rgb(19, 17, 17); */
    overflow: visible;
    scale:1;
}
.SpeedLight{
    position: absolute;
    left:50%;
    top:50%;
    background-image: url('../../assets/fsa043ag_-_sb-5000_speedlight_2_-removebg-preview.png');
}
.Filters{
    right:70%;
    top:30%;
    background-image: url('../../assets/62mm-circular-polariser-series-ii_heroimage-removebg-preview.png'); 
}
.Batteries{
    position: absolute;
    top:50%;
    left:20%;
    background-image: url('../../assets/vfb10413_en-el12-rechargeable-li-ion-battery_front_heroimage-removebg-preview.png');
}

.Chargers{
    right: 20%;
    bottom: 30%;
    background-image: url('../../assets/vea006ec-mh-24-battery-charger_heroimage-removebg-preview.png');
}
.MoreAboutProduct{
    position:relative;
    border-radius: 50%;
    top: -5%;
    z-index: 10;
    box-sizing: content-box;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.234);
    backdrop-filter:blur(50px);
    scale:1.2;
    transition: all 0.3s linear;
}
.MoreAboutProductIcon{
    background-color: red;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 5px;
    scale:0.7;
    transition: all 0.3s linear;
}
.MoreAboutProduct:hover {
    transform: rotate(45deg);
}
.MoreAboutProduct:hover .MoreAboutProductIcon{
    scale:1;
} 
.Filters>.MoreAboutProduct{
    position: relative;
    top: 5%;
    right:-70%;
}

.Chargers>.MoreAboutProduct{
    position: relative;
    top: 15%;;
    right:-92%;
}




















.DetailsofAccessory{
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    display: flex;
   flex-direction: row;
   opacity: 0;
    /* backdrop-filter:blur(0px); */
    pointer-events: none;
    margin: 0;
    padding: 0;
}
.listDetail{
    height: 100%;
    width: 30%;
    background-color: rgb(192, 78, 78);
    transform: translateX(-100%);
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    overflow-x: visible;
}

.listDetail>span{
    width:100%;
    box-sizing: border-box;
    color:white;
    padding-left: 1rem;
}
.listDetail>span>summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: visible;
    font-size: 5rem;
    list-style: none;
    text-align: left;
    position: relative;
    width:90%;
}
.rightarr{
    scale:1.2;
    color:black;
}
.listDetail>span>summary:hover .overlay{
    width: 100%;
    transition: all 0.3s linear;
}

.ImgDetail{
    height: 100%;
    width: 70%;
    opacity: 0;
    padding: 3rem;
    display: flex;
    gap: 1rem;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   background-color: grey;
}
.ImgDetail::-webkit-scrollbar{
    display: none;
}

.CloseAccessoryList{
    color:white;
    position: absolute;
    z-index: 11;
    scale:9;
    top:50%;
    left:98%;
    opacity: 1;
    background-color: black;
    border-radius: 50%;
    border: 2px solid black;
    mix-blend-mode:luminosity;
}

.CloseAccessoryList:hover{
    background-color: blueviolet;
}
.overlay{
    position: absolute;
    width: 0.1%;
    height:100%;
    content:"";
    background-color: yellow;
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}