@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=League+Script&display=swap');
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  /* box-shadow: 0 0 0 2px rgba(210, 94, 11, 0.1),
    0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 6px rgba(255,255,255,1); */
  animation: animate 5s linear infinite;
}
.star::before {
  content: "";
  position: absolute;
  background-color: orange;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
  }
}

.star:nth-child(1) {
  top: 0;
  right: 0;
  animation-delay: 0;
  animation-duration: 5s;
}
.star:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 5s;
}
.star:nth-child(3) {
  top: 0;
  right: 160px;
  left: initial;
  animation-delay: 2s;
  animation-duration: 5s;
}
.star:nth-child(4) {
  top: 0;
  right: -460px;
  /* left: initial; */
  animation-delay: 1.5s;
  animation-duration: 5s;
}
/* hey */

.paci {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.alfa {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
.kalam {
  font-family: "kalam";
  font-weight: 700;
  font-style: normal;
}
.golos{
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
}

.scrollhide::-webkit-scrollbar{
  display: none;
}