.main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 10rem; */
  position: relative;
  gap:0px !important;
  background-color: black;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-pagination {
  display: none;
}

.mainslide {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  width: 37vw !important;
  height: 60vh !important;
  position: relative;
  top: 25%;
  z-index: 2;
  backdrop-filter: blur(50px);
  background-color: blue;

}

.slide {
  height: 75%;
  width: 90%;
  background-color: lightgray;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  box-shadow: black;
  transition: all 0.3s ease;
  box-shadow: 5px 10px 8px #26262695;
  background-size:cover;
  position: relative;
}

.slide1 {
  background-color: #ff9999;
  /* padding-left: 10rem ; */
  background-image: url("../../assets/feature-nikkor-120-million-nikon-cameras-lenses-accessories.jpg");
  background-repeat: no-repeat;
}

.slide2 {
  /* background-color: #99ccff; */
  background-image: url("../../assets/feature-nikkor-z-28-400mm-nikon-cameras-lenses-accessories.jpg");
  
  background-repeat: no-repeat;
}

.slide3 {
  background-color: #ccff99;
  background-image: url("../../assets/apac-feature-nikon-z6iii-mirrorless-camera-nikon-cameras-lenses-accessories.jpg");
  background-repeat: no-repeat;
}

.slide4 {
  background-color: #ffcc99;
  background-image: url("../../assets/feature-nikkor-z-35mm-mirrorless-lens-nikon-cameras-lenses-accessories.jpg");
  background-repeat: no-repeat;
}

#mainswipper {
  /* padding-left: 10rem; */
  width: 100vw !important;
  min-height: 100vh !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* box-sizing: border-box; */
  /* background-color: red; */
}

.swiper-slide-next .slide {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-next + * .slide {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-next + * + * .slide {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-next + * + * + * .slide {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-slide-prev .slide {
  opacity: 0.5;
  pointer-events: none;
}

.mainslide:has(+ .swiper-slide-prev + *) .slide {
  opacity: 0.5;
  pointer-events: none;
}

.back_slide {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  position: absolute !important;
  border-radius: 10px;
  top: 0;
  z-index: -1;
  scale: 0;
  transition: scale 0.3s ease;
  padding-bottom: 2rem;
}

@media (max-width:820px) {
  .mainslide{
    height: 40vh !important;
  }

}
 @media (max-width:768px) {
  .mainslide{
    margin: 0 auto;
    height: 60vh !important;
    width: 80vw !important;
    padding-top: 2rem !important;
  }
  .swiper-slide-next .slide {
    opacity: 1;
    pointer-events: none;
  }
  
  .swiper-slide-next + * .slide {
    opacity: 1;
    pointer-events: none;
  }
  
  .swiper-slide-next + * + * .slide {
    opacity: 1;
    pointer-events: none;
  }
  
  .swiper-slide-next + * + * + * .slide {
    opacity: 1;
    pointer-events: none;
  }
  
  .swiper-slide-prev .slide {
    opacity: 1;
    pointer-events: none;
  }
  
  .mainslide:has(+ .swiper-slide-prev + *) .slide {
    opacity: 1;
    pointer-events: none;
  }
 }
 @media (max-width:540px) {
  .mainslide{
    height: 60vh !important;
    width: 90vw !important;
  }
 }

 .BackSlideProductInformation{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
 }
 .BackSlideProductInformation>.NewsProduct{
  width: 100%;
  height:20%;
 text-overflow:ellipsis;
 font-weight: bolder;
 text-align: center;
 padding-left: 0.5rem;
 }
 .BackSlideProductInformation>.NewsProduct>p{
  font-style: italic;
 }
.test{
  width: 550px;
  position: absolute;
  z-index: 1;
  left: 20px;
  font-size: 5rem;
  color: white;
  font-weight: bolder;
}
.test>.Arrow{
  width: 500px;
}
@media(max-width:768px){
  .test{
    width:100%;
  color:white;
  font-size: 2.7rem;
  text-align: center;
  left:0px;
  position: absolute;
  top:0px !important;
  z-index: 1;
  }
}
.NewsDate{
  width: fit-content;
  height:fit-content;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  position: absolute;
  bottom:40px;
  left:20px;
  border-radius: 30px;
  background-color: rgb(127, 255, 212);
  text-align: center;
}
.SeeMoreNews{
  width: 200px;
  height: 60px;background-color: white;
  position: absolute;
  right:30px;
  font-size: 1.2rem;
  border-radius: 30px;
  font-weight: bolder;
}
.SeeMoreNews::after{
  width: 0px !important;
}
.SeeMoreNews:hover{
  background-color: blue !important;
}
a{
  color:blue !important;
  text-decoration-line: underline;
  text-decoration: solid;
  text-decoration-color: blue;
}